.MessageBox {
    display: flex;
    flex-flow: column wrap;
    border: 1px black solid;
    border-radius: 30px;
    width: 400px;
    min-height: 60px;
    height:contain;
    margin-bottom: 1px;
    position: relative;
    background-image: url("./images/1.jpg");
    background-size:cover;
}
